body{
    background-image: url("portfolio.png");
    background-repeat: no-repeat;
    background-size:100% 1500px;
    
}
#header img{
    margin-top: -1px;
    border-radius: 15px;
    width: 80px;
    height: 100px;
    z-index: -1;
    margin-left: -10px;
    margin-top: -8px;
    }
    .navbar ul {
        display: flex;
        align-items: center;
        float: right;
        margin-top: -120px;
        width: 95%;
        height: 100px;
        background-color: #BDEDFD;
        justify-content: center;
        margin-right: -7px;
    
    }
    .navbar ul li{
        margin-right: 100px;
        list-style-type: none;
        padding: 10px;
        
    }
    .navbar ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    }
    .navbar ul li a:hover{
        background-color: green;
    }
    .content{
        font-size: 20px;
        font-family: sans-serif;
        padding-left: 30px;
        /* background-color:#000D1C; */
        color: white;
        margin-top: -45px;
    }
    
    .content button{
       background-color: green;
      color:white;
      padding:5px;
      border-radius: 20px;
    }
    .content img{
        float: right;
        margin-top: -370px;
        margin-left: -500px;
        margin-right: 200px;
        border-radius: 100px;
    }